@font-face {
  font-family: '35-FTR';
  src: url('./fonts/35-FTR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '35-FTR';
  src: url('./fonts/35-FTR-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* @font-face {
  font-family: '35-FTR Extra';
  src: url('./fonts/35-FTR-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: '35-FTR';
  src: url('./fonts/35-FTR-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: '35-FTR';
  src: url('./fonts/35-FTR-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: '35-FTR';
  src: url('./fonts/35-FTR-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
} */

/* cursor */
#magic-cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index: 1000000;
}

#ball {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
}

/* .icon-wrap {
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  float: left;
  z-index: 10;
}

.button-icon {
  height: 30px;
  width: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
} */

#ball.bl {
  transform: scale(2) translate(-9px, -9px);
  border: 1px solid #fff;
  left: 0;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: '35-FTR', sans-serif;
  background: black;
  height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  cursor: none;
}

div[id^='trigger'], div[id*='trigger'] {
  /* background: cyan; */
  width: 1px;
  height: 1px;
  position: relative;
  left: 0%;
}

.block {
  min-width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 340%;
  color: #fff;
}

.spacer {
  min-width: 40%;
  height: 100%;
  display: flex;
}

.block a {
  color: inherit;
  align-items: center;
  min-width: 80%;
  text-decoration: none;
}

.start {
  font-weight: 900;
  font-size: 360%;
}

/* fade image in after load */
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

/* header fixed position */
header {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  padding: 3%;
}

a {
  cursor: none;
}

a.button-text {
  position: absolute;
  overflow: hidden;
  font-size: 21px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  float: left;
}

.icon-wrap {
  position: relative;
  float: left;
}

header .icon-wrap:last-child {
  float: right;
  float-offset: 3%;
}

.button-text span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  width: 140px;
}

.button-text span::before {
  position: absolute;
  width: 140px;
  top: 100%;
  /* left: 0; */
  content: attr(data-hover);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#contact:hover span,#works:hover span {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/*scroll images*/
/* .image-container {
  display: flex;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
} */

img {
  visibility: hidden;
  position: inherit;
  width: 90%;
  height: auto;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

img.lazyload:not([src]) {
	opacity: 0;
}

div[class^='reveal'], div[class*='reveal'] {
  position: fixed;
  opacity: 0;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  overflow: hidden;
}

div[class^='reveal'].visible, div[class*='reveal'].visible {
  opacity: 1;
}

/* debugging */
.ScrollSceneIndicators {
  /* z-index: 9999999 !important; */
  pointer-events: none !important;
}

/* mobile friendly */
@media screen and (max-width:480px) {
  .block {
    height: 50%;
    min-width: 480px;
  }

  body {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  img {}
}
